<div class="pub-listing list">
<% for (const item of items) {
  const hasUrl    = !!(item.url    && item.url    !== "");
  const isCo      = (item.role && item.role.toLowerCase().indexOf('coorientador') !== -1);
  const isoDate   = item.date ? String(item.date) : (item.year ? String(item.year) + "-01-01" : "");
%>
<div class="pub-item">
  <span class="listing-title d-none"><%- item.title %></span>
  <span class="listing-author d-none"><%- item.author %></span>
  <span class="listing-date d-none"><%= isoDate %></span>

  <p class="pub-citation">
    <span class="pub-authors"><%- item.author %></span>.
    <% if (hasUrl) { %><a href="<%= item.url %>" class="pub-title" target="_blank" rel="noopener"><%- item.title %></a><%
    } else { %><span class="pub-title"><%- item.title %></span><% } %>.
    <em><%- item.type %></em><% if (item.program) { %>, <%- item.program %><% } %>.
    <span class="pub-year"><%= item.year %></span>.
    <% if (isCo) { %><span class="pub-label">Coorientador</span><% } %>
  </p>

  <hr class="pub-divider">
</div>
<% } %>
</div>
